.vscode/
.idea/
compile_commands.json
.cache/*
vgcore*
build/*
tests/*
!tests/CMakeLists.txt
!tests/README.md
!tests/run_tent_case.cmake
!tests/cases/
!tests/cases/**
*.tnc
*.out
!tests/cases/**/expected.out
lib/*.dll
lib/*.so
lib/*.dylib
runtime/*.a

zig-out/
.zig-cache/

.DS_Store
